// bower:scss
// endbower

@import 'bower_components/modular-scale/stylesheets/_modularscale';

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

// typography

$modularscale: (
	base: 1rem,
	ratio: $golden
);

// colors
$light-gray: #e3e6eb;
$medium-gray: #bcc4d2;

$medium-blue: #3a4b5f;
$dark-blue: #243549;

/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

svg,
img {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
  #PAGE CONTENT
\*------------------------------------*/

.page-content {
	height: 100vh;
	padding: ms(2) ms(1);
}

/*------------------------------------*\
  #MAP
\*------------------------------------*/

.map {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

	.map__header {
		flex: none;
	}

		.header__title {
			margin: 0;
			color: $medium-blue;
			font-family: 'refrigerator-deluxe', monospace;
			font-size: ms(3);
			font-weight: 400;
		}

	.map__figure {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: ms(9);
		margin: 0 auto;
	}

		.map__svg {
			fill: none;
			stroke-linejoin: round;
			stroke: #fff;
		}

			.map__country {
				fill: $light-gray;
			}

			.map__country--active {
				fill: $medium-gray;
			}

	.footer__credit {
		margin: 0;
		color: $medium-blue;
		font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: ms(0);
	}

		.footer__credit a {
			text-decoration: none;
			color: $dark-blue;
			font-weight: 600;
		}

/*------------------------------------*\
  #FALLBACKS
\*------------------------------------*/

.no-flexboxlegacy,
.no-flexboxlegacy > body,
.no-flexboxlegacy .page-content {
  height: 100%;
}