// bower:scss
// endbower

@import 'bower_components/modular-scale/stylesheets/_modularscale';

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

// typography

$modularscale: (
  base: 1rem,
  ratio: $golden
);

/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

svg,
img {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
  #PAGE CONTENT
\*------------------------------------*/

.page-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*------------------------------------*\
  #MAP
\*------------------------------------*/

.map {
	flex: 1;
	text-align: center;
}

	.map__header,
	.map__figure {
		margin: 0;
	}

	.map__header {
		margin-bottom: ms(0);
		font-size: ms(2);
	}

	.map__figure {
		width: 100%;
		max-width: ms(9);
		margin: 0 auto;
	}

		.map__svg {
			fill: none;
			stroke-linejoin: round;
			stroke: #000;
		}

			.map__country--active {
				fill: red;
			}